.d-logo {
    margin-top: -1000px;
    margin-left: 630px;
    margin-bottom: 360px;
    width: 70px;
}

.image {
    width: 1349px;
    height: 590px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -0.5%;
    margin-left: -0.6%;
}

.intro {
    margin-left: 0px;
    margin-top: -337px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight:bold;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}

.intro2 {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -25px;
}

.mouse-click {
    padding-top: 120px;
    padding-left: 650px;
}

.about-heading {
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.about-text {
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    line-height: 40px;
    margin-top: -20px;
}

.services-image {
    height: 400px;
    width: 1349px;
    background-position: center;
    margin-left: -0.6%;
}

.services-heading {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -300px;
    color: #FFFFFF;

}

.services-text {
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.what-we-do-heading {
    text-align: center;
    padding-top: 120px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 0px;
}

.design-icon, .dev-icon,.product-icon {
    height: 70px;
    vertical-align: middle;
}

.icon-text, .icon-text2, .icon-text3 {
    display: none;
}

#design-heading {
    text-transform: uppercase;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
}

#design-text {
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
    margin-top:-10px;
}

#development-heading {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 5px;
}

#development-text {
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
    /*margin-left: 500px;*/
    margin-top: -10px;
}


#product-heading {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}

#product-text {
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
    margin-top: -10px;
}


#des-text {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 290px;
    margin-inline-end: 0px;
    margin-top: 0.3%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

#dev-text {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 600px;
    margin-inline-end: 0px;
    margin-top: -3%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

#p-text {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 900px;
    margin-inline-end: 0px;
    margin-top: -3%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

.col-md-4 {
    text-align: center;
    display: block;
}

.row {
    --bs-gutter-x: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    justify-content: space-evenly;
}

 ::after, ::before {
    box-sizing: border-box;
}

.portfolio-heading {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 80px;
}

.portfolio-images1 {
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    margin-left: 130px;
    margin-right: 130px;
}

.portfolio-images2 {
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
}

.contact-image {
    height: 500px;
    width: 1349px;
    padding-top: 50px;
    margin-left: -0.6%;
}

.contact-heading {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -450px;
    color: #FFFFFF;
}

.footer-icons {
    text-align: center;
    margin-top: 460px;
    justify-content: space-evenly;
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
}

.footer-text {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}
