.d-logo {
    margin-top: -1000px;
    margin-left: 630px;
    margin-bottom: 360px;
    width: 70px;
}

.image {
    width: 1340px;
    height: 590px;
}

.intro {
    margin-left: 0px;
    margin-top: -337px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight:bold;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}

.intro2 {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -25px;
}

.mouse-click {
    padding-top: 120px;
    padding-left: 650px;
}

