.d-logo {
    margin-top: -1000px;
    margin-left: 630px;
    margin-bottom: 360px;
    width: 70px;
}

.image {
    width: 1340px;
    height: 590px;
}

.intro {
    margin-left: 0px;
    margin-top: -337px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight:bold;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}

.intro2 {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -25px;
}

.mouse-click {
    padding-top: 120px;
    padding-left: 650px;
}

.about-heading {
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.about-text {
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    line-height: 40px;
    margin-top: -20px;
}

.services-image {
    height: 400px;
    width: 1340px;
}

.services-heading {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -300px;
    color: #FFFFFF;

}

.services-text {
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.what-we-do-heading {
    text-align: center;
    padding-top: 120px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.design-icon {
    margin-left: 220px;
}

.dev-icon {
    margin-left: 325px;
}

.product-icon {
    margin-left: 330px;
}

#design-text {
    margin-left: 230px;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

#development-text {
    margin-left: 610px;
    margin-top: -30px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

#product-text {
    margin-left: 990px;
    margin-top: -35px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.portfolio-heading {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 80px;
}

.portfolio-images1 {
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.portfolio-images2 {
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}